# Minecraft junk
logs/
cache/
*.log
*.lck
*.tmp
*.bak
*.dat_old
session.lock
eula.txt
usercache.json
whitelist.json
banned-*.json
usernamecache.json
run.bat
run.sh
user_jvm_args.txt
*.json
server.properties
crash-reports/
*.jar
*world*
*.toml
*.json5
*.snbt
production-server/config/*
production-server/dynamic-data-pack-cache/*
production-server/libraries/*
test-server/config/*
test-server/modernfix/*

# Docker runtime
*.pid
*.sock
.env
data/
world/
4pals/
mods/old/
mods/backup/
*.zip

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
*.env